<% if session[:user_id] %>
    <div class="logout-btn">
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
<% else %>
    <div class="signin-btn">
        <form action="/" method="get">
            <input type="submit" value="Sign In">
        </form>
    </div>
<% end %>


<div class="main-continer">
    <%= yield %>
</div>
