<h1>Sign up</h1>

<p>Sign up below - just pick a username and password.</p>

<div class="sign-up-form__container">
    <form action="/create_user" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
    </form>
</div>
